{% extends "base.html" %} {% block content %}
<h1>Listado de Citas</h1>
<div class="overflow-x-auto">
  <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
    <thead class="ltr:text-left rtl:text-right">
      <tr>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          Nombre Mascota
        </th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          Servicio
        </th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          Fecha
        </th>
        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          Encargado
        </th>
        <th class="px-4 py-2">Estado</th>
      </tr>
    </thead>

    <tbody class="divide-y divide-gray-200">
      {% for cita in citas %}
      <tr>
        <td class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
          {{ cita.mascota }}
        </td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700">
          {{ cita.servicio }}
        </td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700">
          {{ cita.fecha }}
        </td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700">
          {{ cita.empleado }}
        </td>
        <td class="whitespace-nowrap px-4 py-2 text-gray-700">
          {{ cita.estado }}
        </td>
        <td class="whitespace-nowrap px-4 py-2">
          <a
            href="#"
            class="inline-block rounded bg-rose-500 px-4 py-2 text-xs font-medium text-white hover:bg-rose-600"
          >
            Ver Detalles
          </a>
        </td>
        <td class="whitespace-nowrap px-4 py-2">
          <a
            href="{% url 'editar_cita' cita.id %}"
            class="inline-block rounded bg-rose-500 px-4 py-2 text-xs font-medium text-white hover:bg-rose-600"
          >
            Realizar Cambios
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<a
  href="{% url 'agendar_cita' %}"
  class="inline-block rounded-md bg-rose-500 px-5 py-2.5 text-sm font-medium text-white transition hover:bg-rose-600"
>
  Agendar Cita
</a>
{% endblock %}
